.collection-item {
  display: flex;
  justify-content: space-between;
}

.icon {
  cursor: pointer;
  color: black;
}

.likes-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.likes-container span {
  margin-right: 1em;
}
